@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "@angular/material/prebuilt-themes/indigo-pink.css";
:root {
    --siafp-rojo-oscuro: #CF2C30;
    --siafp-rojo: #ED3237;
    --siafp-rojo-luz: #FFD6D7;
    --siafp-gris-90: #373739;
    --siafp-gris-70: #606062;
    --siafp-gris-50: #D2D3D5;
    --siafp-gris-luz: #F5F6FA;
    --siafs-celeste: #0594B9;
    --siafs-celeste-luz: #E0F2F6;
    --siafs-verde: #93C249;
    --siafs-verde-luz: #F2F7E8;
    --siafs-naranja: #F59E3F;
    --siafs-naranja-luz: #FEF3E7;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', calibri;
    --animation-1: 200ms;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    // background-color: var(--siafp-rojo-oscuro);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-4);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

input,
button {
    cursor: pointer;
    font-family: var(--font-family-1);
}

button:disabled {
    opacity: .5;
}