<div align="center">
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>
</div>
<mat-divider></mat-divider>

<mat-nav-list class="side-navnar">
    <ng-container *ngFor="let menu of menuList.defaultOptions; index as i">
        <ng-container [ngTemplateOutlet]="menu.children ? childMenu : parentMenu" [ngTemplateOutletContext]="{ menu: menu }">
        </ng-container>
    </ng-container>
</mat-nav-list>

<ng-template #parentMenu let-menu="menu">
    <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>{{ menu.icon }}</mat-icon> {{ menu.text }}
    </mat-list-item>
</ng-template>

<ng-template #childMenu let-menu="menu">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{ menu.icon }}</mat-icon>{{ menu.text }}
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon>{{ submenu.icon }}</mat-icon> {{ submenu.text }}
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>